@import '../../assets/variables.scss';
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;

  button {
    color: $color1;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid $color1;
    border-radius: 4px;

    &.active {
      color: $color1;
      border:2px solid $color1;
      transform: scale(1.2);
    }

    &:hover {
      background-color: lighten($color2, 50%);
      transform: scale(1.2);
    }

    &.prev,
    &.next {
      font-weight: bold;
    }
  }
}