@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.text-center {
  display: flex;
  padding: 1vh;

  Button {
    background-color: $color1;
    color: $color2;
    margin: 2vh;
    border: none;

    .item-count{


    }

    &:hover {
      background-color: $color2;
      color: $color1;
    }
  }
  #miContenedor .item-count{
    background-color: white; 
  }
 

  .img {
    max-width: 350px;
    min-height: 350px;
    &:hover {
      cursor: zoom-in;
      transform: scale(1.2);
    }
  }
}
