.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 24px;

  .link {
    text-decoration: none;
  }
  Button {
    background-color: transparent;
    border: none;
    &:hover {
      background-color: transparent;
    }
  }
}

.buttonCard {
  --bs-btn-color: #fff;
  --bs-btn-bg: #19875400;
  --bs-btn-border-color: #19875400;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #15734700;
  --bs-btn-hover-border-color: #146c4300;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c4300;
  --bs-btn-active-border-color: #13653f00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #19875400;
  --bs-btn-disabled-border-color: #19875400;
}
