.SearchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px; 
}
  
.SearchBar input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    max-width: 300px; 
}
  
.SearchBar button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.SearchBar button:hover {
    background-color: #0056b3;
}