@import "../../assets/variables.scss";

.col-input-text {
  width: 50%;
  display: flex;
}
.searchBar {
  input {
    border: 4px $color1 solid;
    border-radius: 8px;
    height: 8hv;
    margin: 12px;
  }
  button {
    font-size: 28px;
    .btn {
      font-size: 28px;
      height: 48px;
      line-height: 48px;
      vertical-align: middle;
    }
    &:hover {
      background-color: $color1;
      color: $color2;
    }
  }
}
