@import '../../assets/variables.scss';
.navbar {
    padding: 16px;
    border-bottom: 4px solid;
    border-radius: 8px;
    margin: 8px 0;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: $color1;
    color: $color2;
    margin-bottom: 40px;

    .btn{
        margin: 4px;
        font-size: 30px;
        color: $color2;
        &:hover{
            cursor: pointer;
            color: $color1;
            background-color: $color2;
        }

    }
    .nav-item{
        list-style: none;
        font-size: 30px;
        margin: 8px 16px ;

        select{
            margin: 0 12px;
            border-radius: 4px;
        }
    }


  }