.link-redirect{
    color: white;
    font-size: small;
}
.submits{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.btn-register {
    color: black !important;
    max-width: 50%;
    background-color: #6EA8FE !important;
}