@import "../../assets/variables.scss";
@import "../../assets/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    height: 100%;
    font-family: "Roboto", sans-serif;

    .card {
      margin-top: 8px;
      border: 3px black solid;
      border-radius: 12px 12% 12px 12%;
      box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.7);
      transition: 0.9s;

      .no-flex{
        display: block;
        padding: 2vh;
      }

      .column {
        background-color: $color1;
        color: white;
        border: 1px solid;
        border-radius: 5%;
        color: black;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        Form {
            color: azure;
          margin: 8px;
          padding: 8px;
          width: 100%;
        }
      }

      .btn {
        background-color: transparent;
        margin-top: 12px;
        color: azure;
        font-size: 24px;
        padding: 10px;
        border: none;
        &:hover{
          @include hoverButton;
        }
      }
      
      .nav-link{
        font-size: 14px;
        &:hover{
          @include hoverButton;
        }
      }

      

    }
  }
}