* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

h2 {
  height: auto !important;
  background-color: #1d113b00 !important;
  color: #000000 !important;
  border-bottom: 4px #27aeec00 solid !important;
}
