.informationProduct {
  display: flex;
  justify-content: space-around;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-evenly;
}

.from-group {
}

.input-title {
  margin-bottom: 0px;
  text-align: start;
}

.input {
  width: 350px;
}

.accordion {
  width: 60%;
}

.container-payment {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  flex-direction: column;
  align-items: center;
}

.button_submit {
  margin-top: 20px;

  &:disabled {
    margin: 0px;
    /* Otros estilos para el estado deshabilitado... */
  }
}

.button_cancel {
  width: 285px;
  height: 45px;

  background-color: #e91c1c !important;
  margin-bottom: 20px;
}
